# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Bin dir
bin/

# Go workspace file
go.work

# Ignore local drawings
*.svg

# Ignore directories for ide config 
.idea/
.fleet/
.vscode/
